@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*----- reset -----*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----- font -----*/
/* @font-face {
	font-family: "Yundongju";
	src: url("../font/독립서체_윤동주_서시_GS.woff") format("woff");
} */

@font-face {
	font-family: 'KyoboHandwriting2020A';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KOTRA_SONGEULSSI';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body * {
	font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
	color: #ffffff;
}

/*----- common, frame, background -----*/
body {
	overflow: hidden;
	background-color: #000d21;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input[type=text]:focus {
	outline: none;
}

#container {
	position: relative;
	min-height: 100vh;
}

#container::after {
	opacity: .6;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	transition: all .32s ease-in-out;
}

#container.hidden {
	display: block;
}

#container.hidden::after {
	opacity: 1;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#containerWrap {
	display: flex;
	width: 100%;
	height: 100%;

	align-items: center;
	justify-content: center;

	position: absolute;
	z-index: 1;
}

.leftWrap {
	max-width: 50%;
	flex-grow: 1;
}

.rightWrap {
	display: flex;
	min-width: 40%;
	height: inherit;

	justify-content: center;
	flex-direction: column;
}

.bottomWrap {
	width: 100%;
}

/*----- hidden -----*/
.hidden {
	display: none;
}

/*----- night sky background -----*/
#nightSky {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	animation: moveStar 1200s linear infinite;
}

@keyframes moveStar {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


/*----- content -----*/
/*--- left ---*/
/* clock */
.clock-day {
	opacity: .7;
	display: flex;
	align-items: baseline;
}

#day {
	padding-left: 20px;
	font-weight: 300;
	font-size: 0.875rem;
}

#clock {
	margin-bottom: 10px;
	width: fit-content;
	font-size: 1.5rem;
}

/* greeting */
#greeting {
	margin-bottom: 24px;
}

/* quote */
#quote {
	margin-bottom: 48px;
	max-width: fit-content;
	line-height: 1.4;
}

#quote span {
	display: block;
	word-break: keep-all;
}

.quote {
	/* font-family: "Yundongju", "Malgun Gothic", "맑은 고딕", sans-serif; */
	/* font-family: "KyoboHandwriting2020A", "Malgun Gothic", "맑은 고딕", sans-serif; */
	font-family: "KOTRA_SONGEULSSI", "Malgun Gothic", "맑은 고딕", sans-serif;
	font-size: 2.375rem;
}

.author {
	width: fit-content;
	margin-top: 20px;
	color: #232323;
	background-color: #e4e4e4;
	padding: 0 6px;
	margin-bottom: 20px;
}

/* login */
#login-form p {
	margin-bottom: 24px;
	font-family: "KyoboHandwriting2020A", "Malgun Gothic", "맑은 고딕", sans-serif;
	font-size: 2rem;
}

#login-form input {
	display: block;
	width: 100%;
	border: none;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;

	font-size: 0.875rem;
	text-align: center;

	background: transparent;
}

#login-form button {
	opacity: .4;
	display: block;
	width: fit-content;
	margin: 0 auto;
	font-size: 1.5rem;
}

#login-form button:hover {
	opacity: 1;
}

#login-form input:focus {
	outline: none;
}

/*--- mid ---*/
/* todo list */
#todo-form {
	display: flex;
	margin-bottom: 24px;
}

#todo-form input {
	flex-grow: 1;
	border: none;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;

	font-size: 0.875rem;

	background-color: transparent;
}

#todo-form input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, .1);
}

#todo-form button {
	min-width: 10%;
	opacity: .4;
}

#todo-form button:hover {
	opacity: 1;
}

#todo-list {
	width: 90%;
	max-height: 50%;
	overflow-y: auto;
	padding: 30px 20px;

	background-color: #f6f6f6;
	background-image:
		linear-gradient(90deg, #cdcccc 0px, #cdcccc 1px, transparent 1px, transparent 99px, transparent 100px),
		linear-gradient(#cdcccc 0px, #cdcccc 1px, transparent 1px, transparent 99px, transparent 100px),
		linear-gradient(#e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px, transparent 100px),
		linear-gradient(90deg, #e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px, transparent 100px),
		linear-gradient(transparent 0px, transparent 5px, #f6f6f6 5px, #f6f6f6 95px, transparent 95px, transparent 100px),
		linear-gradient(90deg, #e0e0e0 0px, #e0e0e0 1px, transparent 1px, transparent 99px, #e0e0e0 99px, #e0e0e0 100px),
		linear-gradient(90deg, transparent 0px, transparent 5px, #f6f6f6 5px, #f6f6f6 95px, transparent 95px, transparent 100px),
		linear-gradient(transparent 0px, transparent 1px, #f6f6f6 1px, #f6f6f6 99px, transparent 99px, transparent 100px),
		linear-gradient(#cdcccc, #cdcccc);
	background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px, 100px 100%, 100px 100%, 100px 100px, 100px 100px;
}

#todo-list::-webkit-scrollbar {
	width: 10px;
	/*스크롤바의 너비*/
}

#todo-list::-webkit-scrollbar-thumb {
	border: 1px solid #333;
	background-color: #fff;
}

#todo-list::-webkit-scrollbar-track {
	opacity: .1;
	background-color: #333;
	/*스크롤바 트랙 색상*/
}

#todo-list>li {
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;

	line-height: 1.4;

	position: relative;
}

#todo-list>li+li {
	margin-top: 20px;
}

#todo-list>li span {
	word-break: break-all;
	color: #444;
	font-family: "KOTRA_SONGEULSSI", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#todo-list>li.checked span {
	text-decoration: line-through;
}

#todo-list>li .deleteBtn i {
	color: #a7455c;
}

#todo-list>li .checkBtn i {
	color: #90b9d7;
}

#colors {
	height: 20px;
	display: none;
	margin-bottom: -20px;

	align-items: center;
	justify-content: center;

	position: absolute;
	bottom: 0;
}
#todo-list>li:hover #colors {
	display: flex;
}

#colors li {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
}

#colors li+li {
	margin-left: 6px;
}

#colors .style0 {
	border: 1px solid #333;
}
.style0 {
	background-color: transparent;
}

.style1 {
	background-color: rgba(5, 196, 23, .2);
}

.style2 {
	background-color: rgba(196, 153, 5, .2);
}

.style3 {
	background-color: rgba(209, 22, 66, .2);

}